

.products .button-container{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;


}

.products .items-container{
    display:flex;
    justify-content: center;
    align-items:end;
    flex-wrap: wrap;
    
    padding:5rem;
}
.products .items{
    
    padding:1rem;
       

}

.products .items-container .myBtn{
    margin-top: 2rem;

    background: linear-gradient(to bottom, #dc3545 5%, #dc3545 100%);
    background-color: #dc3545;    
    border: 1px solid #dc3545;
}

